extends layout

block content
	.jumbotron.text-center
		h1.display-3=title
		p.lead express and promote your next idea
		a.btn.btn-dark.btn-lg(href="/ideas/add") Add New Idea Now
		h1 something
		h1= locals.success_msg
