extends ../layout

block content
	.card.card-body
		h3 Got A Brilliant Idea!
		form(action='/ideas', method='post')
			.form-group
				label(for='title') Title
				input.form-control(type='text', name='title')
			.form-group
				label(for='details') Details
				textarea.form-control(name='details')
			button.btn.btn-primary(type='submit') Submit
