extends ../layout

block content

  .row
    .col-md-6.mx-auto
      .card.card-body
        img.logo(src="/img/facebook_cover_photo_1.png")
        h3.text-center Login
        form
          .form-group
            label(for="email") Email
            input.form-control(type="email" name="email" required="")
          .form-group
            label(for="password") Password
            input.form-control(type="password" name="password" required="")
          button.btn.btn-primary(type="submit") Submit